
.clinical-list{
  margin-bottom: 10px;
}
.clinical-list__items .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.clinical-list__items .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.favorite-icon{
    color: green;
}




